  <mat-toolbar>
  <button mat-button routerLink="login">Login</button>  
  <button mat-button routerLink="signup">Signup</button>
  <button mat-button routerLink="dashboard">Dashboard</button>
  <button mat-button routerLink="bookings">Bookings</button>
  <button mat-button routerLink="history">Booking History</button>
  <button mat-button routerLink="admin">Admin</button>
  <button mat-button (click)="logout()">Logout</button>
</mat-toolbar>
  <div>
    <router-outlet></router-outlet>
  </div>

