
  <mat-drawer #drawer class="my-drawer" mode="over" opened>
    <mat-sidenav-container class="my-container">
      <mat-sidenav-content class="my-drawer-content" routerLink="login">Login</mat-sidenav-content>
    </mat-sidenav-container>
    <mat-sidenav-container class="my-container">
      <mat-sidenav-content class="my-drawer-content" routerLink="signup">Signup</mat-sidenav-content>
    </mat-sidenav-container>
    <mat-sidenav-container class="my-container">
      <mat-sidenav-content class="my-drawer-content" routerLink="dashboard">Dashboard</mat-sidenav-content>
    </mat-sidenav-container>
    <mat-sidenav-container class="my-container">
      <mat-sidenav-content class="my-drawer-content" routerLink="bookings">Bookings</mat-sidenav-content>
    </mat-sidenav-container>
    <mat-sidenav-container class="my-container">
      <mat-sidenav-content class="my-drawer-content" routerLink="admin">Admin</mat-sidenav-content>
    </mat-sidenav-container>
  </mat-drawer>

  <div>
    <router-outlet></router-outlet>
  </div>

