.my-container {
    width: 150px;
    height: 50px;
    background-color: transparent;
    box-shadow: 1px 10px 15px;
}
.my-drawer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.my-drawer {
    /* width: 200px; */
    padding: 0px;
    background-color: rgb(255, 91, 110);
} 